<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

       <!-- <link rel='stylesheet' id='vital-style-css' href='wp-content/themes/vital/style.min04ee.css?ver=1637323202' type='text/css' media='all'/> -->
</head>
 
<body>
    <nav>
        <header>
            <div class="logo">
                <img src="../ASSETS/WHITE.png" alt="Logo" class="imgLogo">
            </div>
            <div class="navigation">
                <input type="checkbox" class="toggle-menu">
                <div class="hamburger"></div>
                <ul class="menu">
                    <li><a href="/homeloggedin.html">Home</a></li>
                    <li><a href="aboutloggedin.html">About</a></li>
            

                    <div class="dropdown">
                        <li class="dropD"><a href="plans.html">Plans</a></li>
                    
                    </div>

                    <div class="dropdown">
                        <li class="dropD"><a href="contact.html">Contact</a></li>
                    
                    </div>

                    <div class="dropdown">
                      <li class="dropD"><a href="dashboard1.html">Dashboard</a></li>
                  
                  </div> 

                </ul>

            </div>
        </header>
    </nav>
    <br> <br> <br>

    <div class="container-fluid">
        <div class="left">
            <!-- <h1 style="color: gold;"> It’s time to meet your financial goals</h1> <br> -->
            <h1 style="color: #fff"> CONTACT US </h1>
            <h6 style="color: gold"><a style="text-decoration:none;width: 100%; color: #fff;font-size: medium;" href="../home.html">Home</a> - Contact us   </h6>
            <br>
             <br> <br>
            
        </div>
        <div class="slide-left">
        <div class="right">
            <img src="../ASSETS/Asset 26.1.png" alt="">
        </div>
        </div>
        
    </div>

    <div style="background-color: #fff;" class="container-fluid" style="display: flex;border: 2px solid gold;" >
        
        <div class="slide-left1" style="padding-top: 0px;">
        <div class="left1" style="width: 100%;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.364457992714!2d-104.93788982504249!3d39.75392479571485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7bfcdd1ad893%3A0x87fd551872f5395e!2s2555%20Clermont%20St%2C%20Denver%2C%20CO%2080207%2C%20USA!5e0!3m2!1sen!2sng!4v1696972726551!5m2!1sen!2sng" width="800" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>
  
        <div class="right1" style="padding-top: 40px;">
            <h4 style="color: gold;"> Contact Us_______</h4> <br>
            <h1 style="color: #3b288f;"> <strong>Get In Touch With Us </strong></h1> <br>
            <h4> Get in touch with us, with any questions or inquries anytime. We're always happy to hear from you.</h4>
            <br>

            <style>
                body {
                    font-family: Arial, sans-serif;
                    background-color: #f2f2f2;
                }
                .containers {
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 20px;
                    /* padding-bottom: 20px; */
                    background-color: whitesmoke;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    border-top-left-radius: 30px;
                     border-top-right-radius: 30px;
    
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                    height: 430px;
                    overflow: hidden;
                    /* border: 2px solid gold; */
                }
                h2 {
                    text-align: center;
                }
                .left1{
                    padding-left: 40px;
                }
                .left{
                    padding: 40px 40px;
                }
                form {
                    text-align: left;
                }
                label, input, textarea {
                    display: block;
                    margin-bottom: 10px;
                }
                input[type="text"], textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }
                input[type="submit"] {
                    background-color: gold;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                input[type="submit"]:hover {
                    background-color: #3b288f;
                }

                @media screen and (max-width: 1200px){
                    .slide-left1{
                        padding: 0px 0px;
                        border: 2px solid black;
                        padding-left: 0px;
                        width: 100%;
                        /* align-items: center;
                        justify-content: center;
                        align-content: center;
                        justify-items: center; */
                        /* padding-right: 80px; */
                        object-fit: fill;
                    }

                    .left1{
                        width: 100%;
                        padding-left: 0px;
                    }
                }

                @media screen and (max-width: 992px){
                    .slide-left1{
                        height: 300px;
                        margin-top: 20px;
                        /* display: none; */
                    }
                    .right{
                        display: none;
                    }

                    .container-fluid{
                        /* height: 30vh; */
                        padding: 0px 0px;
                    }
                    
                }

                /* @media screen and (max-width: 850px){
                    .right{
                        display: none;
                    }
                } */
            </style>
        </head>
        <body>
            <div class="containers border">
                <!-- <h2>Contact Us</h2> -->
                <form action="mailto:" method="post" enctype="text/plain">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
        
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
        
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
        
                    <input type="submit" value="Send Email">
                </form>
            </div>
        </div>
      </div>

      <!-- footer -->
<footer class="bg--gradient border-top overflow-hidden position-relative" style="background: #3b288f;">
    <!-- <div class="particle"></div>
    <div class="particle2"></div>
    <div class="particle3"></div>
    <div class="particle4"></div> -->
    <div class="footer-top py-5">
        <div class="container" style="align-items: center;justify-content: center;justify-items: center;">
            <center>
            <div class="footer-wrapper flex-wrap" style="width: 20rem;padding: 30px 0;">
                <div class="footer-logo w-100 "></div>
                
                    <a href="https://url">
                        <img src="/ASSETS/WHITE.png" alt="logo" />
                    </a>
                </div> </center>
                <div class="footer-text" style="color: #fff;">
                  Discovering your goals is the first step to reaching them. We’ve made it easy to get started. We offer account choices based on your needs. We are backed by a sense of trust and timelessness.
  Dependable, Profitable, Timeless
                </div>
                <ul class="footer-link justify-content-left">
                                                <li>
                            <a href="./HTML/contact.html">Support</a>
                        </li>
                                                <!-- <li>
                            <a href="https://url/privacy">Privacy &amp; Policy</a>
                        </li> -->
                                                <li>
                            <a href="./HTML/about.html">About Us</a>
                        </li>
                                        </ul>
                <div class="text--light w-100 mw-100 text-center" style="color: #fff;">
                    COPYRIGHT © 2023. All Rights Reserved By <a href="home.html">Eternal Trading Co.</a>                    </div>
            </div>
        </div>
    </div>
  </footer>
  
  <!-- footer -->


    <script src="script.js"></script>
</body>
</html>