<!Doctype HTML>
	<html>
	<head>
		<title>Eternal Trading</title> 
		<link rel="stylesheet" href="../home.css" type="text/css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/cb0f802460.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>


	<body>
		<div class="user-dashboard">
		<div id="mySidenav" class="sidenav">
		<!-- <p class="logo"><span>E</span>ternal Trading</p> -->
        <!-- <img src="../ASSETS/WHITE.png" alt="Logo" class="imgLogo"> -->
	  <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>   Dashboard</a>
	  <!-- <a href="#"class="icon-a"><i class="fa fa-file-invoice icons"></i>   Transactions</a> -->
	  <a href="/plans"class="icon-a"><i class="fa fa-list icons"></i>   Plans</a>
	  <!-- <a href="../HTML/deposit.html"class="icon-a"><i class="fa fa-donate icons"></i>   Deposit</a>
	  <a href="../HTML/withdraw.html"class="icon-a"><i class="fa fa-hand-holding-usd icons"></i>   Withdraw</a> -->
	  <a href="/profile"class="icon-a"><i class="fa fa-user icons"></i>   Profile</a>
	  <a href="#"class="icon-a"><i class="fa fa-door-open icons"></i>   Logout</a>

	</div>
	<div id="main">

		<div class="head" style="background: #3b288f;">
			<div class="col-div-6" >
	<span style="font-size:30px;cursor:pointer; color: gold ;" class="nav"  >☰ Dashboard</span>
	<span style="font-size:30px;cursor:pointer; " class="nav2"  >☰ Dashboard</span>
	</div>
		
		<div class="col-div-61" style="color: black;">
            <!-- <img src="../ASSETS/BLACK.png" alt="Logo" class="imgLogo">  -->
		<!-- <div class="profile">

			<img src="images/user.png" class="pro-img" />
			<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
		</div> -->
	</div>
		<div class="clearfix"></div>
	</div>

		<div class="clearfix"></div>
		<br/>
	<div class="container" style="padding-left: 40px;padding-top: 20px;">
		<div class="col-div-3">
			<div class="box">
				<p style="font-size: 30px;">$<span id="displayDeposit" style="color: #fff;font-size: 30px;">00</span>
                    <br/><span>Deposits</span></p>
				<i class="fa fa-users box-icon"></i>
			</div>
		</div>
		<div class="col-div-3">
			<div a class="box">
				<p style="font-size: 30px;">$<span id="withdraw-primary" style="color: #fff;font-size: 30px;">00</span>
					<br/><span>Total Withdrawals</span></p>
				<i class="fa fa-list box-icon"></i>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">
				<p style="font-size: 30px;">$<span id="balance-primary" style="color: #fff;font-size: 30px;">00</span>
                    <br/><span>Balance</span></p>
				<i class="fa fa-shopping-bag box-icon"></i>
			</div>
		</div>
		<div class="col-div-3">
			<div class="box">
				<p style="font-size: 30px;">$<span id="activeInvestments" style="color: #fff;font-size: 30px;">00</span>
                    <br/><span>Active investments</span></p>
				<i class="fa fa-tasks box-icon"></i>
			</div>
		</div>
		<!-- ref link -->
		<div class="container" style="display: flex;align-items: center;">
			<h6>Referral link:</h6>
			<a href="https://www.eternaltrading.com?ref=12345" id="affiliateLink">https://www.eternaltrading.com?ref=12345</a>
			<button id="copyButton">Copy</button>
			<span id="copyStatus"></span>

			<style>
				/* .container {
				  display: flex;
				  align-items: center;
				} */
			  
				#affiliateLink {
				  text-decoration: none;
				  color: #007bff;
				  margin-right: 10px;
				}
			  
				#copyButton {
				  cursor: pointer;
				}
			  </style>

			<script>
				document.getElementById("copyButton").addEventListener("click", function() {
				var affiliateLink = document.getElementById("affiliateLink");
				var copyStatus = document.getElementById("copyStatus");
				
				// Create a temporary input element to copy the link
				var tempInput = document.createElement("input");
				tempInput.value = affiliateLink.href;
				document.body.appendChild(tempInput);
				tempInput.select();
				document.execCommand("copy");
				document.body.removeChild(tempInput);
				
				// Change the copy icon to a checkmark for a short while
				copyStatus.innerText = "Copied!";
				setTimeout(function() {
					copyStatus.innerText = "";
				}, 2000); // Display "Copied!" for 2 seconds
				});
			</script>
  
		  </div>
		<!-- ref link -->
		<div style="background-color: #007bff;">

		</div>
		<!-- Deposit and withdraw -->
       	    
<!-- Deposit and withdraw -->
    
        
    
		<div class="clearfix"></div>
		<br/><br/>  </div>
<!-- Deposit and withdraw -->
	<div class="head"style="background-color: #3b288f;padding: 20px 20px;">
		<span style="font-size:30px;cursor:pointer; color: gold ;" class="nav3"  >Deposit & Withdrawal</span>
	</div>  

	<div class="container" style="display: flex;padding: 20px 20px;justify-content: space-between;justify-content: space-around;">
<!-- Deposit Form
<div class="rounded p-8" style="width: 450px; justify-items: left; background-color: rgb(172, 156, 230)">
    <h4 class="text-2xl mb-4">Deposit</h4>
    <div style="justify-content: left; justify-items: left; text-align: left;">
        <p><strong>Instructions:</strong> Copy the wallet address below and deposit your required amount into it. Ensure to copy the transaction ID after depositing and paste here, as it is required for your deposit to be approved.</p>
    </div>
    <br> <br>
    <form id="deposit-form" onsubmit="handleDepositSubmission(); return false;">
        <div style="justify-content: left; justify-items: left; text-align: left;">
            <div class="copy-container">
                <h4><strong>Wallet address:</strong>
					<input type="text" class="border rounded gray-400 px-4 mb-4" id="copy-text" value="0xasaakhaashssshshshshs" readonly>
					<button class="copy-button" onclick="copyWalletAddress()">Copy</button>
					</h4>
					
            </div>
            <h4>*<strong>The amount:</strong> <input id="deposit-amount" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="Your deposit amount"></h4>
            <h4>*<strong>Transaction ID:</strong> <input id="transaction-id" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="Input transaction ID"></h4>
        </div>
        <button id="deposit-button" class="bg-red-700 text-white px-4 rounded font-bold py-2" type="submit">Deposit</button>
    </form>
</div> -->

<!-- Withdrawal Form -->
<div class="bg-green-100 rounded p-8" style="width: 450px;margin: 40px;">
    <h4 class="text-2xl mb-4">Withdraw</h4>
    <div style="justify-content: left; justify-items: left; text-align: left;">
        <p><strong>Instructions:</strong> Paste your wallet address below and input your desired amount to be withdrawn. Your withdrawal will be approved upon request but might take between 0-6 hours to reflect in your wallet.</p>
    </div>
    <br> <br>
    <form id="withdrawal-form" onsubmit="handleWithdrawalSubmission(); return false;">
		<div style="justify-content: left; justify-items: left; text-align: left;">
			<h4>*<strong>Wallet address:</strong> <input id="wallet-address" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="Your wallet address"></h4>
			<h4>*<strong>The amount:</strong> <input id="withdrawal-amount" class="border rounded gray-400 px-4 mb-4" type="text" placeholder="The withdrawal amount"></h4>
		</div>
		<button id="withdraw-button" class="bg-red-700 text-white px-4 rounded font-medium py-2" type="submit">Withdraw</button>
	</form>
</div> </div>

<div class="head"style="background-color: #3b288f;padding: 20px 20px;">
	<span style="font-size:30px;cursor:pointer; color: gold ;" class="nav3"  >Transaction history</span>
</div> <br>
<!-- Deposit and withdraw -->


		<!-- Transaction History Section -->
		
<div class="col-div-8">
	<div class="box-8" style=" padding-top: 20px; padding-left: 20px;">
	  <div class="content-box">
		<!-- <p style="color: gold;">Transactions</p> -->
		<table id="transaction-history-table">
			<thead>
				<tr>
				  <th>Type</th>
				  <th>Amount</th>
				  <th>Date</th>
				</tr>
			  </thead>
		  <tbody id="transaction-history">
			<!-- Transaction history rows will be added here using JavaScript -->
			<% deposits.forEach(deposit => { %>
				<tr>
				  <td><%= deposit.plan %></td>
				  <td><%= deposit.amount %></td>
				  <td><%= deposit.createdAt %></td>
				</tr>
			  <% }); %>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
	  
	  
	<!-- </table>
			</div>
		</div>
		</div> -->

		<!-- <div class="col-div-4">
			<div class="box-4">
			<div class="content-box">
				<p>Total Sale <span>Sell All</span></p>

				<div class="circle-wrap">
	    <div class="circle">
	      <div class="mask full">
	        <div class="fill"></div>
	      </div>
	      <div class="mask half">
	        <div class="fill"></div>
	      </div>
	      <div class="inside-circle"> 70% </div>
	    </div>
	  </div>
			</div>
		</div>
		</div> -->
			
		<div class="clearfix"></div>
	</div>

</div>

    <style>
        body{
	margin:0px;
	padding: 0px;
	background-color:whitesmoke;
	overflow: auto;
	font-family: system-ui;
    height: 100%;
    position: relative;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.imglogo{
    float: right;
    justify-self: right;
}

.head{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3b288f;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 0px 32px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  /* color: #f1f1f1; */
  background-color: whitesmoke; 
  color: black;  
  border-top-left-radius: 60px;
    /* border-top-right-radius: 30px; */
    
    border-bottom-left-radius: 60px;
    /* border-bottom-right-radius: 30px; */
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
    /* border: 2px solid gold; */
}
.col-div-61{
	width: 30%;
	float: right;
    /* border: 2px solid gold; */
    justify-content: right;
    justify-self: right;
    align-items: right;
    align-content: right;
    align-self: right;
    justify-items: right;
    padding-left: 70px;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 50%;
	float: left;
    margin-bottom: 20px;
    /* background: #3b288f; */
}
.col-div-3 p{
    color: black;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #3b288f;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: gold;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: gold;
    padding-right: 10px;
}
.col-div-8{
	width: 100%;
	float: left;
    /* height: 0%;
    border: 2px solid gold; */
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #3b288f;
	height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
  
        .copy-container {
            display: flex;
            align-items: center;
        }
        .copy-button {
            background: none;
            border: none;
            cursor: pointer;
        }
        .copy-button i::before {
            content: "\f0c5"; /* Clipboard icon (Font Awesome) */
        }
        .copied::before {
            content: "\f00c"; /* Checkmark icon (Font Awesome) */
        }
    

    </style>
	<script src="/JAVASCRIPT/user.js"></script>
	<!-- <script src="/JAVASCRIPT/userbasic.js"></script> -->
	<!-- <script src="/JAVASCRIPT/usermerger.js"></script> -->
	<script src="/JAVASCRIPT/userwithdrawal.js"></script>
<script>


</script>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>

	  $(".nav").click(function(){
	    $("#mySidenav").css('width','70px');
	    $("#main").css('margin-left','70px');
	    $(".logo").css('visibility', 'hidden');
	    $(".logo span").css('visibility', 'visible');
	     $(".logo span").css('margin-left', '-10px');
	     $(".icon-a").css('visibility', 'hidden');
	     $(".icons").css('visibility', 'visible');
	     $(".icons").css('margin-left', '-8px');
	      $(".nav").css('display','none');
	      $(".nav2").css('display','block');
	  });

	$(".nav2").click(function(){
	    $("#mySidenav").css('width','300px');
	    $("#main").css('margin-left','300px');
	    $(".logo").css('visibility', 'visible');
	     $(".icon-a").css('visibility', 'visible');
	     $(".icons").css('visibility', 'visible');
	     $(".nav").css('display','block');
	      $(".nav2").css('display','none');
	 });

	</script>
	<!-- <script src="script.js"></script> -->
	  
	<script>
        window.onload = function() {
					// Function to handle authentication status and redirect to the login page
			function handleAuthenticationStatus(response) {
				if (response.status === 401) {
					// Authentication required, redirect to login page
					window.location.href = '/login';
				} else {
					// Handle other cases or continue with the normal flow
					var depositData = localStorage.getItem('depositData');
					if (depositData) {
						document.getElementById('displayDeposit').textContent = depositData;
					}
				}
			}	
        };

				// Make a request to the server to check authentication status
		fetch('/check-authentication-status') // Adjust the endpoint based on your server setup
			.then(response => response.json())
			.then(data => {
				// Handle the authentication status
				handleAuthenticationStatus(data);
			})
			.catch(error => {
				console.error('Error:', error);
			});
	</script>
    
</body>
</html>