<form>
    <h2>Deposit</h2>
    <label for="paymentPlan">PaymentPlan</label>
    <select name="paymentPlan" id="paymentPlan">
        <option value="basic">Basic</option>
        <option value="standard">Standard</option>
        <option value="gold">Gold</option>
        <option value="insurance">Insurance</option>
        <option value="realEstate">Real Estate</option>
        <option value="immigration">Immigration</option>
    </select>

   <input type="hidden" id="jwtToken" name="jwt" value="">

    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount">
    <input type="hidden" name="userId" value="" /> 

    <button type="submit">Proceed</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    //  function decodeJWT(token) {
    //     if (token) {
    //         // Decode the JWT token (only the payload part)
    //         const base64Url = token.split('.')[1];
    //         const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    //         return JSON.parse(atob(base64));
    //     } else {
    //         console.error('JWT token not found in the cookie');
    //         return null;
    //     }
    // }
    const form = document.querySelector('form');

    form.addEventListener('submit', async function (event) {
        event.preventDefault();

        const plan = form.paymentPlan.value;
        const amount = form.amount.value;
        const token = document.cookie.split('; ').find(row => row.startsWith('jwt='));

        if (!token) {
            console.error('JWT token not found in the cookie')
        }else{
            const tokenCookie = token.split('=')[1];
        }

        const newAmount = parseInt(amount)

        //     // Get the JWT token from the cookie
        // const token = document.cookie.replace(/(?:(?:^|.*;\s*)jwt\s*=\s*([^;]*).*$)|^.*$/, '$1');

        // // Decode the JWT token (only the payload part)
        // const decodedPayload = decodeJWT(token);

        // if (decodedPayload) {
        // try {
        //     const response = await axios({
        //         method: 'post',
        //         url: '/api/deposit/payment',
        //         data: { plan, newAmount },
        //         headers: {
        //             'Authorization': `Bearer ${token}`,
        //         }
        //     });
        //     alert(response.data.message);
        // } catch (error) {
        //     console.log(error);
        //     alert('Failed to make payment.');
        // }
        // } else {
        //     alert('JWT token not found or could not be decoded.');
        // }

        try {
            const response = await axios({
                method: 'post',
                url: '/api/deposit/payment',
                data: {plan, amount},
                headers: {
                    'Authorization': `Bearer ${token}`, 
                }
            });
            alert(response.data.message);
        } catch (error) {
            console.error(error);
            alert('Failed to make payment.');
        }
    });
</script>
