<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eternal Trading</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  
    <form>
        <h3> Update profile </h3>
        <label for="userName">Username</label>
        <input type="text" class="form-control" name= 'userName'placeholder="new username" value="">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" placeholder="new email" value="">
        <label for="userName">Password</label>
        <input type="text" class="form-control" name="password" value="" placeholder="new password">
        <button id="submitButton" class="btn btn-primary profile-button" type="button"> Save Profile</button>
    </form>
    <!--<script src="script.js"></script>-->

    <script>
        const submitButton = document.getElementById('submitButton');
        submitButton.addEventListener('click', async (e) => {
    e.preventDefault();
    // get values
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const username = document.getElementById('username');

    try {
      const res = await fetch('/api/user/update', { 
        method: 'PUT', 
        body: JSON.stringify({ email, password, username }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        alert('Sorry cannot make changes at the moment ')
      }
      if (res.ok) {
        alert('Profile updated successfully!')
        window.location.href = '/dashboard';
      }

    }
    catch (err) {
      console.log(err);
    }
  });
    </script>
</body>
</html>