<%- include('partial/homeheader'); -%>


    <div class="container-fluid">
        <div class="left">
            <h1 style="color: gold;"> It’s time to meet your financial goals</h1> <br>
            <h4 style="color: #fff;"> Discovering your goals is the first step to reaching them. We’ve made it easy to get started. We offer account choices based on your needs.</h4>
            <br>
            <div><h6 style="color: #fff;"> Company Number: <a href="https://opencorporates.com/companies/us_co/20201716616" style="text-decoration:none;width: 100%;color: #fff;font-size: medium;">20201716616 </a></h6> 
            </div> <br>
            <button class="login1">
                    <a style="color: #fff;text-decoration:none;" href="/register">Get started</a>
            </button> <br> <br>
            
        </div>
        <div class="slide-left">
        <div class="right">
            <img src="ASSETS/Asset 27.1.jpg" alt="">
        </div>
        </div>
        
    </div>

    <div style="background-color: #fff;" class="container-fluid">
        <div class="slide-left1">
        <div class="left1">
            <img src="ASSETS/womens-with-phones-office22.jpg" alt="">
        </div>
        </div>

        <div class="right1">
            <h4 style="color: gold;"> Who We Are_______</h4>
            <h1 style="color: #3b288f;"> Know About Us</h1> <br>
            <h4 style="color: #3b288f;"> Achieving the level of financial security that supports your lifestyle and goals is vital to living life to the fullest. Whether you’re investing to build your legacy, growing a nest egg to enjoy retirement, or saving for your kid’s college tuition, Eternal Trading can help you achieve them with guarantee.

                Taking a proactive approach to your finances today can create opportunities and rewards for you and your family tomorrow.</h4>
            <br>
            <button href="#" type="button"   class="login11">
                    <a  style="text-decoration:none;color: #fff;" href="/about">Read more</a>
            </button>
            <br> <br>
                </svg>

                
            </div>
        </div>
        
    </div>

    <div class="containercontainer">
    <div class="container">
        <div class="middle">
        <h5 style="color: gold;"> Pricing Plan_______</h5> <br>
            <h1 style="color: #3b288f;"> INVESTMENT PACKAGES</h1>
            <h6 style="color: #3b288f;"> Our investment packages are designed with profitabilty and accountability in mind.</h6>
        </div> <br>
        <div class="card">
          <div class="face face1">
            <div class="content">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
                    <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                    <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                  </svg>           
              <h3>Basic plan</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg> <strong> Trading Options </strong></p> <br>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  ROI: <strong>10% every 48 hours </strong></p> <br>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  Minimum deposit: <strong> $50.00</strong></p> <br>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  Maximum deposit: <strong> $1500.00</strong>
                <p> <br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg> <strong> 5% referral bonus </strong></p> <br>
                <br>
                <div class="btnmid" >
                <button class="btn">
                  <span class="circle">
                    <span class="icon arrow"></span>
                  </span>
                  <span onclick="location.href='/login';"class="button-text">Invest Now</span>
                </button></div>
                <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
                  <h6> Invest now</h6> -->
            <!-- <a href="#" type="button" class="">Read More</a>  -->
          <!-- </button> -->
          </div>
        </div>
     </div>
       
       <div class="card">
          <div class="face face1">
            <div class="content">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-walking" viewBox="0 0 16 16" style="color:gold ;">
                    <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.75 1.75 0 0 1-.088.395l-.318.906.213.242a.75.75 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"/>
                    <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.75.75 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914l2.345-3.048Zm4.22-4.215-.494-.494.205-1.843a1.93 1.93 0 0 0 .006-.067l1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
                  </svg>            <h3>Immigration plan</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  ROI: <strong>75% ROI biweekly </strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  Minimum deposit: <strong> $25,000.00</strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  Maximum deposit: <strong> Unlimited</strong>
              <p> <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg> <strong> 20% referral bonus </strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  <strong>Immigration </strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  <strong>Immigration with accomodation </strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  <strong>Family immigration/Golden visa </strong></p> <br>
              <div class="btnmid" >
                <button class="btn">
                  <span class="circle">
                    <span class="icon arrow"></span>
                  </span>
                  <span onclick="location.href='/login';"class="button-text">Invest Now</span> <br>
                  <button class="btn">
                    <span class="circle">
                      <span class="icon arrow"></span>
                    </span>
                    <span onclick="location.href='./HTML/immigrationinfo.html';"class="button-text">Learn about</span>
                </button></div>
              <!-- <button class="cardbutton">
                <h6> Invest now</h6>
              </button> -->
              <!-- <a href="#" type="button">Read More</a> -->
            </div>
          </div>
       </div>
       
       
       <div class="card">
          <div class="face face1">
            <div class="content">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-houses" viewBox="0 0 16 16" style="color:gold ;">
                    <path d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708L5.793 1Zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207l-4.5-4.5Z"/>
                  </svg>
               <h3>Real estate</h3>
            </div>
          </div>
        <div class="face face2">
          <div class="content">
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg> <strong> Start up Account </strong></p> <br>
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>  ROI: <strong>75% biweekly </strong></p> <br>
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>  Minimum deposit: <strong> $30,000.00</strong></p> <br>
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>  Maximum deposit: <strong> $50,000.00</strong>
            <p> <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg> <strong> 10% referral bonus </strong></p> <br>
            <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>  <strong>Personal account manager </strong></p> <br>
            <div class="btnmid" >
              <button class="btn">
                <span class="circle">
                  <span class="icon arrow"></span>
                </span>
                <span onclick="location.href='/login';"class="button-text">Invest Now</span>
              </button></div>
              
            <!-- <a href="#" type="button">Read More</a> -->
            <!-- <button class="cardbutton">
              <h6> Invest now</h6>
            </button> -->
          </div>
     </div>
  </div> 
    <div class="belowbtn" style="justify-content: center; align-items: center;">
        <a style="text-decoration:none;color: #fff;" type="button" class="login11" href="/plans"> See more </a>
    </div>
     </div>
    </div>

    

  

 
  <!-- How To Start -->
  
<!-- How To Start -->
 <!-- Choose -->
      <div class="border">
      <div class="container" style="justify-content: center; align-items: center;padding: 20px;">
        <div class="middle" style="background: whitesmoke; border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;">
          <h5 style="color: gold;"> Features_______</h5> 
              <h1 style="color: #3b288f;"> WHY CHOOSE US</h1>
              <h6 style="color: #3b288f;"> We post some of the best gains in the markets we partake in on a consistent basis. </h6>
          </div> <br> <br> <br> <br> <br> <br> <br> <br> 
      <div class="row" style="display: flex;">
                  <div class="col" style=" color: #3b288f;">
                    <div class="itemitem"> <center>
                  <!-- <img width="330px" src="/ASSETS/forbes-logo-40224.png" alt=""> --> <div class="item" style="width: 330px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                    <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                  </svg> </div> </center> </div> <br>
                  <div style="color: black;">
                    <h5><strong>Affordable accounts</strong></h5>
                    <h6>INVESTING WITHOUT BORDERS. You can invest in our company from anywhere in the world and earn profit</h6>
                  </div>
                  </div>
                  <div class="col" style=" color: #3b288f;""> 
                    <div class="itemitem"> <center>
                   <!-- <img width="330px" src="/ASSETS/bloomberg-logo-transparent.png" alt="">0 --> <div style="width: 330px;">
                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-gear-wide-connected" viewBox="0 0 16 16">
                    <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z"/>
                  </svg> </div> </center> </div> <br>
                  <div style="color: black;">
                    <h5><strong>Special Security</strong></h5>
                    <h6>Your deposits are insured by our Special Trust Fund. Your deposits are safe.</h6>
                  </div>
                  </div>
                  
                  <div class="col" style=" color: #3b288f;"">
                    <div class="itemitem"> <center>
                    <!-- <img width="330px" src="/ASSETS/Vice_News_primary_logo.svg.png" alt=""> --> <div style="width: 330px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-shaded" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                    </svg> </div> </center> </div><br>
                    <div style="color: black;">
                      <h5><strong>Extreme Support</strong></h5>
                      <h6>Our specialists are available around the clock to help you. Please let us know your questions.</h6>
                    </div>
                  </div>
                   
      </div>
 </div> 
</div><br> <br> 
 <!-- Choose -->

<!-- Referral -->
<section class="referral-section pt-50 pb-100">
  <div class="container" style="padding: 20px;" > 
      <!-- <div class="row align-items-center justify-content-between flex-wrap-reverse" style="border: 2px solid black;"> -->
          <div class="col-lg-6 col-xl-5">
              <div class="referral-thumb">
                  <img src="/ASSETS/referral.png" alt="about">
              </div>
          </div>
          <div class="col-lg-6" style="padding: 20px;">
              <div class="section-header mb-lg-0" style="text-align: left;">
                  <h4 class="section-header__subtitle" style="color: gold;">Referral Comission _______</h4>
                  <h1 class="section-header__title" style="color: #3b288f;"> <strong></strong>Refer your friend and earn money </strong></h1> <br>
                  <h5> 
                     Our referral program was created as an additional way for our investors to make money. By attracting new investors to join us, our members are getting an additional source of income. The referral program has a percentage bonus of 20% of the daily profit made from those you invited.                            </h5>
                  <div class="comission-area">
                                                                                                  <div class="comission-item">
                                                                                      </div> <br>
                  <!-- <div class="btnmid" style="-self: center; text-align: center;align-items:center;padding: 0px 0px;">
                 <button class="btn">
                  <span class="circle">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">See more</span>
                </button> -->
              </div> 
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Referral -->

<!-- Credits -->
<div class="container" style="justify-content: center; align-items: center;">
  <div class"row1">
    <H5 style=" font-weight:bold; " style="text-align: center;"> They are Talking About Us. </H5>
  </div> <br> <br>
  <div class="row" >
              <div class="col">
              <img width="250px" src="/ASSETS/forbes-logo-40224.png" alt="">
              </div>
              <div class="col">
               <img width="250px" src="/ASSETS/bloomberg-logo-transparent.png" alt="">
              </div>
              
              <div class="col">
                <img width="250px" src="/ASSETS/Vice_News_primary_logo.svg.png" alt="">
              </div>
               <div class="col">
                <img width="250px" src="/ASSETS/icons8-bbc-150.png" alt="">
              </div>
  </div>
</div> <br> <br>  
<!-- Credits -->


<%- include('partial/homefooter'); -%>






<!-- <section class="how-to-start-section pt-100 border-top border-bottom overflow-hidden" style="padding:30px 20px;">
    <div class="container" >
        <div class="row align-items-center flex-wrap-reverse gy-5" style="display: flex; height: 80vh;">
            <div class="col-lg-6" style="height: 80vh; width: 50%;">
                <div class="pe-xl-4 pe-xxl-5">
                    <div class="section-header text-lg-end" >
                        <h4 class="section-header__subtitle" style="color: gold;">_______How To Get Started</h4>
                        <h2 class="section-header__title" style="color: #3b288f;" >We have some easy steps!</h2>
                        <p>
                            These steps would guide you on how to get started and make your first profit from Eternal Trading                                </p>
                    </div> -->
                    <!-- <div class="how-wrapper">
                                                            <div class="how__item">
                                <div class="how__item-thumb">
                                    <-- <i class="fas fa-user-plus"></i> -->
                                <!-- </div> <br> --> 
                                <!-- <div class="how__item-content">
                                    <h4 class="how__item-title text--base" >
                                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                                      </svg> Create Account
                                        
                                    </h4> <br>
                                    <h5>
                                    Go to the login page and register for a new account and you're ready to start investing and making profit.                                             </h5>
                                </div>
                            </div> -->
                                                            <!-- <div class="how__item">
                                <div class="how__item-thumb">
                                    <-- <i class="fas fa-user-check"></i> -->
                                <!-- </div> <br>
                                <div class="how__item-content">
                                    <h4 class="how__item-title text--base" >
                                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                                      </svg> Purchase Investment Plan
                                      
                                    </h4>
                                    <h5>
                                    Once you're ready to invest, select an investment plan from the packages available. Choose the payment method and make a deposit with confidence.                                            </h5>
                                </div> -->
                              <!-- </div> <br>
                              <div class="how__item">
  <div class="how__item-thumb">
       <i class="fas fa-exchange-alt"></i> -->
  <!-- </div>
  <div class="how__item-content">
      <h4 class="how__item-title text--base">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
        </svg> Get Profit
        
      </h4>
      <h5>
      You can start withdrawing profits two weeks after your initial deposit.                                            </h5>
  </div>
</div>
                      </div>
</div> -->
<!-- </div>
<div class="col-lg-6" >
<div class="how-thumb" style="max-width: 1000px;overflow-clip-margin: content-box;overflow: clip;">
<img src="/ASSETS/man in front of board.png" alt="about" />
</div>
</div>
</div>
</div> <br>
</section> --> 