<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Eternal Trading</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

       <!-- <link rel='stylesheet' id='vital-style-css' href='wp-content/themes/vital/style.min04ee.css?ver=1637323202' type='text/css' media='all'/> -->
</head>
 
<body>
    <nav>
        <header>
            <div class="logo">
                <img src="../ASSETS/WHITE.png" alt="Logo" class="imgLogo">
            </div>

            <div class="navigation">
                <input type="checkbox" class="toggle-menu">
                <div class="hamburger"></div>
                <ul class="menu">          

                    <div class="dropdown">
                        <li class="dropD"><a href="/plans">Plans</a></li>
                    
                    </div>

                    <div class="dropdown">
                        <li class="dropD"><a href="/contact">Contact</a></li>
                    
                    </div>

                    <div class="dropdown">
                      <li class="dropD"><a href="/dashboard">Dashboard</a></li>
                  
                  </div> 

                  <div class="dropdown">
                    <li class="dropD"><a href="#">Logout</a></li>
                
                </div>

                <div class="google" style="display: flex;overflow: hidden;width: 150px;height: 30px;">
                  <div id="google_translate_element"></div>
                  </div>
                </ul>

            </div>
        </header>
    </nav>
    <br> <br> <br>

    <div class="container-fluid">
        <div class="left" style="padding: 40px 40px;">
            <!-- <h1 style="color: gold;"> It’s time to meet your financial goals</h1> <br> -->
            <h1 style="color: #fff"> Plans </h1>
            <h6 style="color: gold"><a style="text-decoration:none;width: 100%; color: #fff;font-size: medium;" href="../home.html">Home</a> - Plans</h6>
            <br>
             <br> <br>
            
        </div>
        <div class="slide-left">
        <div class="right">
            <img src="../ASSETS/Asset 26.1.png" alt="">
        </div>
        </div>
        
    </div>

    <div class="containercontainer">
        <div class="container">
            <div class="middle">
            <h5 style="color: gold;"> Pricing Plan_______</h5> <br>
                <h1 style="color: #3b288f;"> INVESTMENT PACKAGES</h1>
                <h6 style="color: #3b288f;"> Our investment packages are designed with profitabilty and accountability in mind.</h6>
            </div> <br>
            <div class="card" style="margin-bottom: 20px;">
              <div class="face face1">
                <div class="content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                      </svg>           
                  <h3>Prime plan</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">

                      <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                      </svg>  ROI: <strong>10% every 48 hours </strong></p> <br>
                      <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                      </svg>  Minimum deposit: <strong> $50.00</strong></p> 
                      
                     
                      
                      <div class="btnmid" >
                      <button class="btn">
                        <span class="circle">
                          <span class="icon arrow"></span>
                        </span>
                        <span onclick="location.href='/basic';"class="button-text">Buy Plan</span>
                      </button></div>
                      <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
                        <h6> Invest now</h6> -->
                  <!-- <a href="#" type="button" class="">Read More</a>  -->
                <!-- </button> -->
                </div>
              </div>
           </div>

           <div class="card" style="margin-bottom: 20px;">
            <div class="face face1">
              <div class="content">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-houses" viewBox="0 0 16 16" style="color:gold ;">
                      <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                      <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                    </svg>
                 <h3>Standard plan</h3>
              </div>
            </div>
          <div class="face face2">
              <div class="content">
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  ROI: <strong>15% every 48 hours </strong></p> <br>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  Minimum deposit: <strong> $1,600.00</strong></p> 
               
                
                 
                <div class="btnmid" >
                  <button class="btn">
                    <span class="circle">
                      <span class="icon arrow"></span>
                    </span>
                    <span onclick="location.href='/standard';"class="button-text">Buy Plan</span>
                  </button></div>
                  
                <!-- <a href="#" type="button">Read More</a> -->
                <!-- <button class="cardbutton">
                  <h6> Invest now</h6>
                </button> -->
              </div>
         </div>
      </div>



      <div class="card" style="margin-bottom: 20px;">
        <div class="face face1">
          <div class="content">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
                  <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                  <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                  <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                  <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                </svg>           
            <h3>Gold plan</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  ROI: <strong>38% every 48 hours </strong></p> <br>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  Minimum deposit: <strong> $5100.00</strong></p> 
                
                <p> 
                
                <div class="btnmid" >
                  <button class="btn">
                    <span class="circle">
                      <span class="icon arrow"></span>
                    </span>
                    <span onclick="location.href='/gold';"class="button-text">Buy Plan</span>
                  </button></div>
                <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
                  <h6> Invest now</h6> -->
            <!-- <a href="#" type="button" class="">Read More</a>  -->
          <!-- </button> -->
          </div>
        </div>
     </div>


     <div class="card" style="margin-bottom: 20px;">
      <div class="face face1">
        <div class="content">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
              </svg>           
          <h3>Platinum plan</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
           
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  ROI: <strong>50% every 48 hours </strong></p> <br>
              <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  Minimum deposit: <strong> $10,000.00</strong></p> 
              <!-- <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
              </svg>  Maximum deposit: <strong> Unlimited</strong> -->
              
              <!-- <br> -->
              <div class="btnmid" >
                <button class="btn">
                  <span class="circle">
                    <span class="icon arrow"></span>
                  </span>
                  <span onclick="location.href='/platinum';"class="button-text">Buy Plan</span>
                </button></div>
              <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
                <h6> Invest now</h6> -->
          <!-- <a href="#" type="button" class="">Read More</a>  -->
        <!-- </button> -->
        </div>
      </div>
   </div>


   <div class="card" style="margin-bottom: 20px;">
    <div class="face face1">
      <div class="content">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-walking" viewBox="0 0 16 16" style="color:gold ;">
            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
            </svg>            <h3>Insurance</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
          <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
          <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
        </svg>  ROI: <strong>20% Weekly </strong></p> <br>
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
          <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
          <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
        </svg>  Minimum deposit: <strong> $30,000.00</strong></p> <br>
        <!-- <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
          <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
          <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
        </svg>  Maximum deposit: <strong> Unlimited</strong>
         <br> -->
          

         <div class="btnmid" >
          <button class="btn">
            <span class="circle">
              <span class="icon arrow"></span>
            </span>
            <span onclick="location.href='/insurance';"class="button-text">Buy Plan</span>
          </button></div>
        <!-- <button class="cardbutton">
          <h6> Invest now</h6>
        </button> -->
        <!-- <a href="#" type="button">Read More</a> -->
      </div>
    </div>
 </div>


 <div class="card" style="margin-bottom: 20px;">
  <div class="face face1">
    <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
          <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
          </svg>           
      <h3>ETF & Mutual funds</h3>
    </div>
  </div>
  <div class="face face2" style=" height: 100%;">
    <div class="content">
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>  ROI: <strong>55% every two weeks </strong></p> <br>
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>  Minimum deposit: <strong> $10,000.00</strong></p> 
           
           
           <div class="btnmid" >
            <button class="btn">
              <span class="circle">
                <span class="icon arrow"></span>
              </span>
              <span onclick="location.href='/etf';"class="button-text">Buy Plan</span>
            </button></div> 
          <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
            <h6> Invest now</h6> -->
      <!-- <a href="#" type="button" class="">Read More</a>  -->
    <!-- </button> -->
    </div>
  </div>
</div>


<div class="card" style="margin-bottom: 20px;">
  <div class="face face1">
    <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-houses" viewBox="0 0 16 16" style="color:gold ;">
            <path d="M5.793 1a1 1 0 0 1 1.414 0l.647.646a.5.5 0 1 1-.708.708L6.5 1.707 2 6.207V12.5a.5.5 0 0 0 .5.5.5.5 0 0 1 0 1A1.5 1.5 0 0 1 1 12.5V7.207l-.146.147a.5.5 0 0 1-.708-.708L5.793 1Zm3 1a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Zm.707.707L5 7.207V13.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V7.207l-4.5-4.5Z"/>
          </svg>
       <h3>Real estate</h3>
    </div>
  </div>
<div class="face face2">
    <div class="content">
  
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
      </svg>  ROI: <strong>75% biweekly </strong></p> <br>
      <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
      </svg>  Minimum deposit: <strong> $30,000.00</strong></p> 
      <div class="btnmid" >
        <button class="btn">
          <span class="circle">
            <span class="icon arrow"></span>
          </span>
          <span onclick="location.href='/estate';"class="button-text">Buy Plan</span>
        </button></div>
        
      <!-- <a href="#" type="button">Read More</a> -->
      <!-- <button class="cardbutton">
        <h6> Invest now</h6>
      </button> -->
    </div>
</div>
</div>  


           <div class="card" style="margin-bottom: 20px;">
            <div class="face face1">
              <div class="content">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16" style="color:gold ;">
                      <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                      <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                      <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                      <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                    </svg>           
                <h3>Merger account</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                  
                    <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>  ROI: <strong>90% biweekly </strong></p> <br>
                    <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                    </svg>  Minimum deposit: <strong> $50,000.00</strong></p> 
                    <div class="btnmid" >
                      <button class="btn">
                        <span class="circle">
                          <span class="icon arrow"></span>
                        </span>
                        <span onclick="location.href='/merger';"class="button-text">Buy Plan</span>
                      </button></div>
                    <!-- <button class="cardbutton" onclick="window.location.href='https://w3docs.com';">
                      <h6> Invest now</h6> -->
                <!-- <a href="#" type="button" class="">Read More</a>  -->
              <!-- </button> -->
              </div>
            </div>
         </div>




         
           
           
          

           



      
     
     

     <div class="card" style="margin-bottom: 20px;">
      <div class="face face1">
        <div class="content">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-walking" viewBox="0 0 16 16" style="color:gold ;">
                <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.75 1.75 0 0 1-.088.395l-.318.906.213.242a.75.75 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"/>
                <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.75.75 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914l2.345-3.048Zm4.22-4.215-.494-.494.205-1.843a1.93 1.93 0 0 0 .006-.067l1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
              </svg>            <h3>Immigration plan</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>  ROI: <strong>75% ROI biweekly </strong></p> <br>
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg>  Minimum deposit: <strong> $25,000.00</strong></p>
          <div class="btnmid" >
            <button class="btn">
              <span class="circle">
                <span class="icon arrow"></span>
              </span>
              <span onclick="location.href='/immigration';"class="button-text">Buy Plan</span>
            </button></div>
          <!-- <button class="cardbutton">
            <h6> Invest now</h6>
          </button> -->
          <!-- <a href="#" type="button">Read More</a> -->
        </div>
      </div>
   </div>

      </div> <br>
      <!-- <div class="belowbtn" style="justify-content: center; align-items: center;">
          <button href="#" type="button" class="login11"> See more </button>
      </div>
       </div>
      </div> -->

     <!-- footer -->
<footer class="bg--gradient border-top overflow-hidden position-relative" style="background: #3b288f;">
  <!-- <div class="particle"></div>
  <div class="particle2"></div>
  <div class="particle3"></div>
  <div class="particle4"></div> -->
  <div class="footer-top py-5">
      <div class="container" style="align-items: center;justify-content: center;justify-items: center;">
          <center>
          <div class="footer-wrapper flex-wrap" style="width: 20rem;padding: 30px 0;">
              <div class="footer-logo w-100 "></div>
              
                  <a href="https://url">
                      <img src="/ASSETS/WHITE.png" alt="logo" />
                  </a>
              </div> </center>
              <div class="footer-text" style="color: #fff;">
                Discovering your goals is the first step to reaching them. We’ve made it easy to get started. We offer account choices based on your needs. We are backed by a sense of trust and timelessness.
Dependable, Profitable, Timeless
              </div>
              <ul class="footer-link justify-content-left">
                                              <li>
                          <a href="/contact">Support</a>
                      </li>
                                              <!-- <li>
                          <a href="https://url/privacy">Privacy &amp; Policy</a>
                      </li> -->
                                              <li>
                          <a href="/aboutloggedin">About Us</a>
                      </li>
                                      </ul>
              <div class="text--light w-100 mw-100 text-center" style="color: #fff;">
                  COPYRIGHT © 2023. All Rights Reserved By <a href="/homeloggedin">Eternal Trading Co.</a>                    </div>
          </div>
      </div>
  </div>
</footer>

<!-- footer -->
<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement(
          {pageLanguage: 'en'},
          'google_translate_element'
      );
  } 
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="script.js"></script>
</body>
</html>