<%- include('partial/plansheader'); -%>


    <div class="container" style="border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;background-color: whitesmoke;  " >

        <div style="display: block;">
        <h1 id="plan"><strong>PLATINUM</strong></h1i>

        <h4>Please confirm your deposit</h4>
        </div> </div>
        <br> <br>
        <div class="containers">
    <div class="container" >
        <div >
          <center>
            <h3> <strong>Order Summary</h3></strong> </center>
            <h6><strong>Plan:</strong> PLATINUM </h6>
            <h6><strong>Profit:</strong> 50% every 48 hours </h6>
            <h6><strong>Principal return:</strong> Yes </h6>
            <h6><strong>Minimum deposit:</strong> $10,000.00 </h6> 
            <h6><strong>Maximum deposit:</strong> Unlimited </h6>
            <h6><strong>Referral bonus:</strong>5% </h6>
            <h6><strong>Perks:</strong> UNLIMITED DAILY TRADE </h6> 
            <h6><strong>Deposit fee:</strong> 0.00% </h6> <br><br> 


            <div class="containerss" style="text-align: center;justify-content: center;padding-top: 20px">
            <h6> Enter amount($)</h6>
            <textarea id="amountTextArea"></textarea> <br><br>
            <h6>Copy wallet address</h6>

            <textarea id="walletTextArea" readonly>bc1qvwrxry6wu7jtk24029wv0u4qferyxzgva88kwl</textarea>
            <br>
            <button id="copyButton">Copy </button> <br><br>
            
            
            <h6>Transaction ID(required):</h6>
            <textarea id="transactionIdTextArea"></textarea> <br>

            <button id="submitButton">Submit</button> <br><br>

        </div><br>
        </div>
    </div>

    </div>




    <%- include('partial/footer'); -%>











    <style>

      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

      body{
        font-family: 'Quicksand', sans-serif;
      }
        .container {
          text-align: center;
        }
        #walletTextArea {
          width: 300px;
          height: 30px;
          resize: none;
        }
        #amountTextArea {
          width: 300px;
          height: 30px;
          resize: none;
        }
        #transactionIdTextArea {
          width: 300px;
          height: 30px;
          resize: none;
        }
        #copyButton {
          padding: 10px 20px;
          /* border: 2px solid gold; */
          background-color: gold;
          /* color: #3b288f; */
          border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    
         border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        }

        #copyButton:hover{
            background-color: #3b288f;
            color: whitesmoke;
        }

        #submitButton {
          padding: 10px 20px;
          /* border: 2px solid gold; */
          background-color: gold;
          /* color: #3b288f; */
          border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    
         border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        }

        #submitButton:hover{
            background-color: #3b288f;
            color: whitesmoke;
        }
        .containerss{
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          background-color: whitesmoke;
          padding-left: 20px;
          padding-right: 20px;
        }
        @media screen and (max-width: 1200px) {
          .containers .container{
            text-align: left;
          }
        }
      </style>
    <script>
        const walletTextArea = document.getElementById('walletTextArea');
        const copyButton = document.getElementById('copyButton');
        const amountTextArea = document.getElementById('amountTextArea');
        const submitButton = document.getElementById('submitButton');
        const planElement = document.getElementById('plan')


        amountTextArea.addEventListener('input', function (e) {
        const value = e.target.value;
        // Remove non-numeric characters from the input
        e.target.value = value.replace(/[^0-9]/g, '');
      });
  
        copyButton.addEventListener('click', () => {
          walletTextArea.select();
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          alert('Copied to clipboard');
        });

        submitButton.addEventListener('click', async (e) => {
          e.preventDefault();
          const plan = planElement ? planElement.textContent.trim() : '';
        const amount = amountTextArea.value.trim();
        const newAmount = parseInt(amount)
        // Check if the amount is within the range
        if (newAmount < 10000) {
                alert('Kindly input an amount above $10,000.00');
                return;
            }
        const transactionId = transactionIdTextArea.value.trim();


        if (amount === '' || transactionId === '') {
            alert('Please fill in the required fields appropriately.');
        } else {
          try {
            const res = await fetch('/api/deposit/payment', {
              method: 'POST',
              body: JSON.stringify({plan, amount: newAmount, transactionId}),
              headers: {
                'Content-Type': 'application/json',
                // 'Authorization': `Bearer ${token}`,
              }
            });

            if (res.ok) {
              const newDeposit = await res.json();
              console.log('Deposit made:', newDeposit);


              // Redirect to the next page or perform other actions...
              window.location.href = '/success'
            }else {
              const errorData = await res.json();
              console.error('Error making deposit:', errorData);
              alert('Error making deposit. Please check your input and try again.');
            }
          } catch (error) {
            console.error('Error making deposit:', error);
            alert('Sever error. Please try again later.')
          }
        }
    });
      </script>
</body>
</html>