<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit Alert</title>
</head>
<body>
    <h1>Transaction Data</h1>

    <ul>
        <% deposit.forEach(deposit => {%> 
            <li>
                Deposited Amount: <%= deposit.amount%>,
                Transaction ID: <%= deposit.transactionId%>,
                Date: <%= deposit.createdAt%>
            </li>
        <%}); %>
    </ul>
</body>
</html>