<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>User Verification</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
        }

        body, html{
            display: grid;
            justify-content:center;
            height: 100%;
            width: 100%;
            align-self: center;
            background-color: #fff4ff;
        }

        nav{
            height: 30%;
            padding: 1.5vw;
            background-color: blue;
            color: #fff4ff;
        }

        .bodyContent{
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 2vw;
        }

        .bodyContent h2 {
            text-align: center;
        }

        footer{
            text-align:center;
            background-color: blue;
            height: 35%;
            padding: 1.5vw;
            color: #fff4ff;
        }

        footer a{
            color: #fff4ff;
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/ASSETS/WHITE.png" alt="Logo" class="imgLogo">
        </div>
    </nav>

    <div class="bodyContent">
        <h2>Registration completed</h2>
        <p>
            Thank you for joining our program. <br> <br>
            You are now an official member of this program. <br><br>
            You can <a href="/login">login</a> to your account to start investing with us and use all the services that are available for our members.

        </p> <br> <br>
        <p>
            <b>Important:</b> Do not provide your login and password to anyone.
        </p>
    </div>

    <footer>
        copyright @2023 All Right Reserved <a href="#">Term of use</a>
    </footer>
</body>
</html>