<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eternal Trading</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav>
    <h1><a href="/">Eternal Trading</a></h1>
    <ul id="primary-navigation" data-visible='false' class="primary-navigation flex">
        <li class="active">
            <a href="/dashboard"> <span 
                aria-hidden="true"></span>Home</a>
        </li>
    </ul>
  </nav>
  