<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eternal Trading</title>
  <link rel="stylesheet" href="/main.css">
  <script src="//code.jivosite.com/widget/6jdcoEmw88" async></script>
</head>
<body>
  <nav>
    <h1><a href="/">Eternal Trading</a></h1>
    <ul id="primary-navigation" data-visible='false' class="primary-navigation flex">
        <li class="active">
            <a href="/dashboard"> <span 
                aria-hidden="true"></span>Home</a>
        </li>
    </ul>
  </nav>
  <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    } 
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

