<!-- footer -->
<footer class="bg--gradient border-top overflow-hidden position-relative" style="background: #3b288f;">
    <!-- <div class="particle"></div>
    <div class="particle2"></div>
    <div class="particle3"></div>
    <div class="particle4"></div> -->
    <div class="footer-top py-5" >
        <div class="container" style="align-items: center;justify-content: center;justify-items: center;">
            <center>
            <div class="footer-wrapper flex-wrap" style="width: 20rem;padding: 30px 0;">
                <div class="footer-logo w-100 "></div>
                
                    <a href="https://url">
                        <img src="/ASSETS/WHITE.png" alt="logo" />
                    </a>
                </div> </center>
                <div class="footer-text" style="color: #fff;">
                  Discovering your goals is the first step to reaching them. We’ve made it easy to get started. We offer account choices based on your needs. We are backed by a sense of trust and timelessness.
  Dependable, Profitable, Timeless
  
                     <a href="/contact">Support</a>
                    <!-- <li>
                         <a href="https://url/privacy">Privacy &amp; Policy</a>
                        </li> -->

                    <a href="/about">About Us</a>
                </div>
              
                <br> <br>
                <div class="text--light w-100 mw-100 text-center" style="color: #fff;">
                    COPYRIGHT © 2025. All Rights Reserved By <a href="/home">Eternal Trading Co.</a>                    </div>
            </div>
        </div>
    </div>
  </footer>
    
    <script src="script.js"></script>
  </body>
  </html>