<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Eternal Trading</title> 
    <link rel="stylesheet" href="/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
       <!-- <link rel='stylesheet' id='vital-style-css' href='wp-content/themes/vital/style.min04ee.css?ver=1637323202' type='text/css' media='all'/> -->
</head>
<body>
  <nav>
    <header>
        <div class="logo">
          <a href="/">
            <img src="../ASSETS/WHITE.png" alt="Logo" class="imgLogo">
          </a>
           
        </div>

        <div class="navigation">
            <input type="checkbox" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="menu">
                <div class="dropdown">
                    <li class="dropD"><a href="/plans">Plans</a></li>
                
                </div>

                <div class="dropdown">
                    <li class="dropD"><a href="/contact">Contact</a></li>
                
                </div>

                <div class="dropdown">
                  <li class="dropD"><a href="/dashboard">Dashboard</a></li>
                  
              </div> 

              <div class="google" style="display: flex;overflow: hidden;width: 50px;height: 30px;">
                <div id="google_translate_element"></div>
                </div>

              <div class="dropdown">
                <li class="dropD" ><a href="/login.ejs" id="logoutLink">Logout</a></li>
            
            </div>

            </ul>

        </div>
    </header>
</nav>

<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement(
          {pageLanguage: 'en'},
          'google_translate_element'
      );
  } 
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Bro change this cookie name to the main cookie name you are using
    const cookieName = 'sessionCookie';
  
    // I set the cookie expiration to weekly
  function setCookie(name, value, days) {
    const date = new Date();
    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    const expires = 'expires=' + date.toUTCString();
    document.cookie = name + '=' + value + ';' + expires + ';path=/';
  }
  
    // handles logout
    function logout() {
      // Clears the cookie
      clearCookie(cookieName);
  
      // Redirects to the logout page. 
      window.location.href = '/login.ejs';
    }
  
    // the logooout 
    const logoutLink = document.getElementById('logoutLink');
    if (logoutLink) {
      logoutLink.addEventListener('click', function (event) {
        event.preventDefault();
        logout();
      });
    }
  });
  </script>